/* CUSTOM CURSOR */
#cursor {
  position: fixed;
  width: 8px; height: 8px;
  background: var(--color-fg);
  border-radius: 50%;
  pointer-events: none;
  z-index: var(--z-cursor);
  top: 0; left: 0;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: width 0.15s, height 0.15s;
}
#cursor.big { width: 36px; height: 36px; }
